.bash*
.bundle
.cache
.config
Desktop
Documents
Downloads
.gem
.gnome
.gnupg
.ICEauthority
.local
.mozilla
Music
.netrc
Pictures
.pki
.profile
Public
.rbenv
.ssh
.sudo_as_admin_successful
Templates
.thumbnails
.vbox*
Videos
.vscode
.X*
.x*